@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "微軟正黑體";
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  outline: none;
}

html {
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background-color: #991c34;
}
html body {
  min-width: 1100px;
  height: auto;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}
html body main .center {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}
html body main .center .left {
  width: 50%;
  height: 100%;
  position: relative;
}
html body main .center .left .logo {
  width: 343px;
  height: 127px;
  background: url(../img/LOGO.png) no-repeat center;
  background-size: contain;
  z-index: 100;
  position: absolute;
  top: 101px;
  left: 131px;
}
html body main .center .left .inputBox {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 241px;
  left: 116px;
  z-index: 100;
}
html body main .center .left .inputBox .input {
  width: auto;
}
html body main .center .left .inputBox .input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 28px 10px;
  position: relative;
}
html body main .center .left .inputBox .input label input {
  width: 323px;
  height: 38px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#ffffff));
  background: linear-gradient(#e4e4e4 0%, #ffffff 100%);
  border: none;
  border-radius: 7px;
  color: #000000;
  font-size: 25px;
  text-align: center;
  position: relative;
}
html body main .center .left .inputBox .input label input::-webkit-input-placeholder {
  color: #9b0002;
  font-size: 20px;
  font-weight: bold;
}
html body main .center .left .inputBox .input label input::-moz-placeholder {
  color: #9b0002;
  font-size: 20px;
  font-weight: bold;
}
html body main .center .left .inputBox .input label input:-ms-input-placeholder {
  color: #9b0002;
  font-size: 20px;
  font-weight: bold;
}
html body main .center .left .inputBox .input label input::-ms-input-placeholder {
  color: #9b0002;
  font-size: 20px;
  font-weight: bold;
}
html body main .center .left .inputBox .input label input::placeholder {
  color: #9b0002;
  font-size: 20px;
  font-weight: bold;
}
html body main .center .left .inputBox .input label:before {
  content: "";
  width: 331px;
  height: 45px;
  background: -webkit-gradient(linear, left bottom, left top, from(#c2994f), color-stop(26%, #7f5f23), color-stop(44%, #dcbc80), color-stop(62%, #fffac8), color-stop(92%, #dcbc80));
  background: linear-gradient(to top, #c2994f 0%, #7f5f23 26%, #dcbc80 44%, #fffac8 62%, #dcbc80 92%);
  border-radius: 7px;
  position: absolute;
  top: -2px;
  left: -2px;
}
html body main .center .left .inputBox .input label:last-child {
  margin: 0 24px 0 10px;
}
html body main .center .left .inputBox button {
  width: 138px;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#c2994f), color-stop(26%, #7f5f23), color-stop(44%, #dcbc80), color-stop(62%, #fffac8), color-stop(92%, #dcbc80));
  background: linear-gradient(to top, #c2994f 0%, #7f5f23 26%, #dcbc80 44%, #fffac8 62%, #dcbc80 92%);
  background-size: 200%;
  border-radius: 0 0 60px 60px;
  border: 1px solid #a40000;
  -webkit-box-shadow: 2px 1px 5px rgb(0, 0, 0);
          box-shadow: 2px 1px 5px rgb(0, 0, 0);
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 29px 10px;
  text-align: center;
  position: absolute;
  top: 134px;
  left: 106px;
}
html body main .center .left .inputBox button:hover, html body main .center .left .inputBox button:active, html body main .center .left .inputBox button.active {
  color: #9b0002;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2994f), color-stop(26%, #7f5f23), color-stop(44%, #dcbc80), color-stop(62%, #fffac8), color-stop(92%, #dcbc80));
  background: linear-gradient(to bottom, #c2994f 0%, #7f5f23 26%, #dcbc80 44%, #fffac8 62%, #dcbc80 92%);
}
html body main .center .left .unionLogo {
  width: 213px;
  height: 37px;
  background: url(../img/union.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 501px;
  left: 184px;
  z-index: 100;
}
html body main .center .right {
  width: 50%;
  height: 100%;
  position: relative;
}
html body main .center .right .mainObject {
  width: 1196px;
  height: 977px;
  background: url(../img/mainObject.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 26px;
  left: -99px;
  -webkit-animation: invisible 0.3s linear, showIN 0.2s 0.3s ease-in forwards;
          animation: invisible 0.3s linear, showIN 0.2s 0.3s ease-in forwards;
}
html body main .center .right .text {
  width: 682px;
  height: 561px;
  background: url(../img/text.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 439px;
  left: -114px;
  -webkit-animation: invisible 0.2s linear, show 0.2s 0.2s ease-in-out forwards;
          animation: invisible 0.2s linear, show 0.2s 0.2s ease-in-out forwards;
}
html body main .center .right .deco {
  width: 301px;
  height: 304px;
  background: url(../img/deco.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 598px;
  left: 530px;
  -webkit-animation: invisible 0.3s linear, showIN 0.2s 0.3s ease-in-out forwards;
          animation: invisible 0.3s linear, showIN 0.2s 0.3s ease-in-out forwards;
  z-index: 10;
}
html body main .bg {
  width: 100%;
  min-width: 1100px;
  height: 100%;
  background: url(../img/BG.jpg) no-repeat top center;
  position: absolute;
  top: 0;
  z-index: -999;
}

@-webkit-keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showIN {
  0% {
    -webkit-transform: translate(-835px, -861px);
            transform: translate(-835px, -861px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-3px, -1px);
            transform: translate(-3px, -1px);
    opacity: 1;
  }
}
@keyframes showIN {
  0% {
    -webkit-transform: translate(-835px, -861px);
            transform: translate(-835px, -861px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-3px, -1px);
            transform: translate(-3px, -1px);
    opacity: 1;
  }
}